<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Error handling</h1>
</div>

<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Error Tests</h6>
      </div>
      <div class="card-body">
        <ul class="list-style-none">
          <li>
            <div class="form-group mb-3">
              <%= link_to 'TEST AT', admin_error_handling_test_africas_talking_path, class: 'btn btn-primary', method: :post  %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>