<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <%= link_to 'Dashboard', admin_root_path %>
          </li>
          <li class="breadcrumb-item active">Pending Transactions</li>
        </ol>
      </div>
      <h4 class="page-title">Pending Transactions</h4>
    </div>
  </div>
</div>
<!-- end page title -->
<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pending Transactions Datatable</h6><div class="dropdown float-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <!-- item-->
          <%= link_to 'Resolve', admin_resolve_pending_transactions_path, class: 'dropdown-item', method: :post%>
        </div>
      </div>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="pendingTransactionsTable" class="table table-striped table-bordered" data-source="<%= admin_pending_transactions_path(format: :json) %>">
            <thead>
            <tr>
              <th>SN:</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Amount</th>
              <th>Package</th>
              <th>Recipient Number</th>
              <th>Timestamp</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <%= link_to 'Retry', admin_retry_transaction_path, class: 'btn btn-primary', method: :post %>
      </div>
    </div>
  </div>
</div>
